body{
	margin: 0;
	background-color: #f5f5f5;
}

header{
	background-color: #888;
	height: 240px;
}

header h2, h3{
	color: #f5f5f5;
	text-align: center;
}

header span
{
	font-size: 90px;
	color: #f5f5f5;
	text-shadow: -1px -1px 10px red,
				 -2px -2px 10px red,
				 -3px -3px 10px red,
				 -4px -4px 10px red,
				 -5px -5px 10px red,
				 -6px -6px 10px red,
				 -7px -7px 10px red,
				 -8px -8px 10px red,
				 -9px -9px 10px red,
				 -10px -10px 10px red,
				 -11px -11px 10px red;
}
header h2{
	font-size: 36px;
	text-shadow: 3px 5px 20px red,
				 3px 5px 5px yellow,
				 3px 5px 20px red,
				 3px 5px 5px yellow,
				 10px 8px 20px red;

}

.infor{
	color: teal;	
	font-family: 'Revalia', cursive;
	font-size: 4.5em;
	text-align: center;
}


header h3{
	font-size: 30px;
}

header nav{
	background-color: #555;
	text-align: right;
}

nav ul li{
	display: inline-block;
	margin: 5px 15px;
	padding: 15px 20px;
	border-bottom: 3px solid transparent;
}

header nav ul li:hover{
	background-color: #00695c;
	border-bottom: 3px solid #0097a7;
}

header nav ul li a{
	color: #fff;
	text-decoration: none;	
	font-size: 20px;	
}

nav ul{
	margin: 0;
}