/*
	Las formas de incluir CSS.
		- Externo Recomendado head
			- Una una de estilo desde un archivo css			
				Establece el estilo donde se haga referencia al archivo
				.css
			<link>
		- Interno
			- Inline En algunos caso 
				Establece el estilo unicamente a ese elemento
			- <style> </style> head
				Establece estilo a nivel de esa pagina web
		- Importado Evitar utilizar
			- @import url(ruta\archivo.css)

	- Reglas
	- Selectores  
		- Selector de etiqueta body		
	- Declaraciones
		- La composicion de propiedad - valor
	- Propiedades
		- background-color
		- font-size: Tamño en pixel, em;
		- color : Color de la fuente;
	- Valores

	Colores con nombre designados black, white, gray.
	notacion Hex
		0- F : pares en 3 grupos; 6 caractes

	
	crear 5 titulos, a cada titulo agregar un estilo de su preferencia
	

*/



body{
	background-color: #f5f5f5;
	text-align: justify;
	font-family: "Helvetica", "sans-serif","Time New Roman";
}

h2{
	color: orange;
}

/*
	DRY : Dont Repeat Yourselft = No te repitas a ti mismo;
*/

h1,h2,h3,p{
	font-size: 2em;
	line-height: 1em;
}

p span{
	color: #1a237e ;
	font-size: 80px;
	background-color: rgba(255,235,238,.5);
}


#tituloUnico{
	color: #78383A;
}

#tituloSecciones{
	color: #607d8b ;
}

li a
{
	color: red;
}

#titulo{
	color: red;
	background-color: blue;
	font-size: 44px;
	border: 3px dashed #550010;
}

#izq{
	text-align: left;
}
















